*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Всегда показываем вертикальную полосу прокрутки */
html {
  min-height: 101%;
}

body {
  margin: 0;
  color: #000;
  text-align: left;
  font-size: 1em;
  min-height: 100%;
  font-family: 'Roboto', sans-serif !important;
  line-height: normal !important;
  background-color: #f9f9f9;
}

/* Порядок правил для ссылок имеет значение */
a,
a:visited {
  color: #222;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration:none;
}
a:focus,
a:active {
  color: #c83867;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif !important;
  font-weight: normal !important;
}

textarea { font-family: inherit; }

.bold { font-weight: bold; }

.geo-font-mtavruli { font-family: "BPG Nino Mtavruli", sans-serif; }

.geo-font { font-family: "BPG Rioni", sans-serif; }

.rus-font-title {
  font-size: 1.5em;
  text-transform: uppercase;
}

.rus-font-300 { font-weight: 300; }

img {
  display: block;
  height: auto;
  width: 100%;
}

.underline { border-bottom: 1px solid; }

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 5px 0;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  background-color: #2d86c5;
  z-index: 9999;
}

.header__logo {
  max-width: 195px;
  padding-right: 20px;
}

.navigation__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__menu li {
  position: relative;
  white-space: nowrap;
}

.menu__link {
  position: relative;
  padding: 10px;
  font-size: 1.2em;
  line-height: normal;
  letter-spacing: 1px;
}

.menu__link:before {
  content: "";
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 100%;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, 20px);
  opacity: 0;
  transition: .3s;
}

.navigation__menu li:hover .menu__link:before {
  transform: translate(-50%, 0);
  opacity: 1;
}

.menu__link_disable {
  pointer-events: none;
  cursor: default;
}

.menu__submenu {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 100%;
  width: 150px;
  padding: 15px 0 15px;
  margin-top: 5px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0,0,0,.2);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 20px);
  transition: .3s;
}

.navigation__menu li:hover .menu__submenu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}

.menu__submenu li {
  list-style: none;
  text-align: center;
}

.submenu__link {
  display: block;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 5px 10px;
  transition: .3s linear;
  color: #222;
}

.submenu__link:hover {
  background: deepskyblue;
  color: white;
}

.languages {
  padding-left: 20px;
}

.languages__language {
  display: inline-block;
  margin-right: 5px;
  width: 32px;
  height: 22px;
  opacity: .5;
}

.languages__language:hover { opacity: 1; }

.language__link_active { opacity: 1; }

.language__link_disable {
  pointer-events: none;
  cursor: default;
}

.header__toggle {
  display: none;
  background-color: #2d86c5;
  width: 10px;
  height: 21px;
}

.toggle__img {
  width: 20px;
  height: 21px;
}

@media screen and (max-width: 800px) {
  .header__toggle { display: block; }

  .navigation__menu {
    display: none;
    flex-wrap: wrap;
    height: auto;
  }

  .navigation__menu li {
    position: relative;
    margin: 10px 0;
    width: 50%;
    text-align: center;
  }

  .menu__link { padding: 0; }

  .menu__submenu li {
    margin-bottom: 0;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .header__logo {
    max-width: 140px;
    padding: 0;
  }

  .languages { padding: 0; }
}

.header-invisible-clone {
  position: static;
}

.map {
  margin: 0 auto;
  width: 85%;
  border-bottom: 1px solid #aaaaaa;
}

.map__image {
  width: 100%;
}

.map__info {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: auto;
  max-width: 350px;
  height: auto;
  padding: 10px;
  background: white;
  opacity: 0.9;
  border: 1px solid #cacec4;
  box-shadow: 0 0 5px rgba(122,122,122, 0.5);
}

.areas_area {
  outline: none;
}

.map__tbilisi {
  display: none;
}

.map__rustavi {
  display: none;
}

.map__marneuli {
  display: none;
}

.footer-invisible {
  display: static;
  height: 70px;
}

.footer {
  padding: 0 15px 15px 15px;
  background-color: #777;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 20px;
}

.links__column {
  padding-top: 15px;
}

.links__list {
  list-style: none;
}

.links__title {
  padding-bottom: 1em;
  font-size: 1em;
  color: #fff;
}

.links__link,
.links__link:visited {
  color: #444;
}

.links__link:hover {
  color: #fff;
}

.links__link:focus,
.links__link:active {
  color: #c83867;
}

.links__social {
  display: inline-block;
  padding-right: 10px;
  width: 52px;
  height: 42px;
  -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
       -o-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.4s ease-in-out;
       -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}

.links__social:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: grayscale(0%);
     -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
       -o-filter: grayscale(0%);
          filter: grayscale(0%);
}

.link__social_github {
  opacity: 0.5;
  border-radius: 7px;
  -webkit-transition: all 0.4s ease-in-out;
       -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}

.link__social_github:hover { opacity: 1; }

.footer__bottom {
  padding-top: 20px;
  text-align: center;
  color: white;
}

.bottom__logo {
  width: 242px;
  margin: 0 auto;
}

.bottom__copyright {
  margin-top: 1em;
  font-size: 14px;
}

.bottom__reserved-rights {
  font-size: 14px;
}

.bottom__thanks {
  padding-top: 3em;
  font-size: 7px;
  color: #b3b3b3;
}

@media screen and (max-width: 520px) {
  .footer__links {
    justify-content: flex-start;
  }

  .links__column {
    padding-right: 50px;
  }
}

@media screen and (max-width: 475px) {
  .footer__links {
    display: block;
    text-align: center;
  }

  .links__column {
    padding-right: 0;
  }
}

.whoweare {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(5,  minmax(140px, 140px));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
  height: auto;
}

.whoweare__images {
  position: relative;
  overflow: hidden;
}
  
.whoweare__images:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
       -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}

.whoweare__images:hover:before { opacity: 1; }

.whoweare__images:hover .images__img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: grayscale(0%);
     -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
       -o-filter: grayscale(0%);
          filter: grayscale(0%);
}

.whoweare__images:hover .name {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
} 

.whoweare__images--active .images__img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: grayscale(0%);
     -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
       -o-filter: grayscale(0%);
          filter: grayscale(0%);
}

.whoweare__images--active .name {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.images__img {
  -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
       -o-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
       -o-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
       -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}


.images__name {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 7px;
  text-align: center;
  z-index: 2;
}

.name {
  display: inline-block;
  padding-top: 6px;
  font-size: 20px;
  color: white;
  line-height: 32px;
  border-width: 1px 0;
  border-color: rgba(255,255,255,0.5);
  border-style: solid;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
       -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}

.info-text__title {
  font-size: 1.5em;
  color: #ff5a00;
}

.info-text__title--gray {
  font-size: 1.5em;
  color: #676767;
}

.info-text__text {
  display: block;
  font-size: 18px;
  -webkit-margin-before: 1em;
     margin-block-start: 1em;
  -webkit-margin-after: 1em;
      margin-block-end: 1em;
  -webkit-margin-start: 0px;
   margin-inline-start: 0px;
  -webkit-margin-end: 0px;
   margin-inline-end: 0px;
}

.info-text {
  width: 85%;
  margin: 0 auto;
  padding-top: 50px;
}

.anchor,
.anchor:visited {
  color: black;
  border-bottom: 2px solid #65bf00;
}

.anchor:hover {
  color: black;
  border-bottom: 2px solid #65bf00;
}

@media screen and (max-width: 1024px) {
  .whoweare {
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}

.info-text--clubs {
  margin: 0 auto;
  padding-bottom: 50px;
}

.width--65 {
  width: 65%;
}

.slider {
  position: relative;
  margin: 0 auto;
}

.video {
  margin: 0 auto;
  margin-top: 150px;
}

.video__block {
  width: 100%;
  height: auto;
}

/*! http://responsiveslides.com v1.55 by @viljamis */

.slider__list {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}

.list__item {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.list__item:first-child {
  position: relative;
  display: block;
  float: left;
  }

.item__image {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.slider__list_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("https://younglife.ge/blocks/events/images/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.slider__list_nav:active {
  opacity: 1.0;
  }

.slider__list_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

.slider__list_nav:focus {
  outline: none;
  }

.slider__list_tabs {
  margin-top: 10px;
  text-align: center;
  }

.slider__list_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.slider__list_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.slider__list_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }

  :focus { outline: none; }

.contact {
  display: block;
  width: 85%;
  margin: 0 auto;
}

.contact__title {
  font-size: 2em;
  color: #ff5a00;
  text-align: center;
}

.contact__form {
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  width: 85%;
}

.form__input {
  padding: 10px;
  margin-top: 20px;
  width: 50%;
  min-height: 46px;
  border: 0px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-radius: unset;
  background: transparent;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 20px;
}

.form__input:focus {
  background: white;
  border-bottom: 2px solid deepskyblue;
}

.form__textarea {
  resize: none;
  margin-top: 30px;
  max-height: 46px;
  max-width: 50%;
  min-height: 46px;
  min-width: 50%; 
}

.form__textarea:not(:placeholder-shown) {
  height: 200px;
  max-height: 200px;
  min-width: 80%;
  width: 80%;
  transition: 0.3s;
}


.form__submit {
  padding: 7px 12px;
  margin-top: 20px;
  font-size: 1em;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  background-color: rgb(28, 107, 164, .7);
  border: 1px solid #ccc;
  border-radius: 5px;
  letter-spacing: 1px;
}

.form__submit:hover,
.form__submit:focus {
  background-color: #1c6ba4;
}

@media screen and (max-width: 1024px) {
  .form__input {
    width: 80%;
  }

  .form__textarea {
    max-width: 80%;
    min-width: 80%; 
  }

  .form__textarea:focus {
    resize: both;
    height: 400px;
    max-height: 400px;
    min-width: 80%;
    width: 80%;
    transition: 0.3s;
  }
}

@media screen and (max-width: 568px) {
  .form__input {
    width: 100%;
  }

  .form__textarea {
    max-width: 100%;
    min-width: 100%; 
  }

  .form__textarea:focus {
    height: 200px;
    min-width: 100%;
    width: 100%;
  }

  .form__submit {
    background-color: rgb(28, 107, 164);
  }
}

.banners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 80px;
  color: white;
  border-bottom: 4px solid #cccccc;
}

.banner-container strong { font-weight: bold; }

.banners__banner {
  text-align: left;
  width: 295px;
  min-width: 185px;
  height: auto;
  min-height: 125px;
  font-size: 18px;
  padding: 12px 15px;
}

.banners__first { background-color: #65bf00; } /* 65CB00 */

.banners__second { background-color: #ff5a00; } /* FF6600 */

.banners__third{ background-color: #1c5fa4; } /* 1C6BA4 */

@media screen and (max-width: 1090px) {
  .banners__banner {
    width: 250px;
    padding: 12px 15px;
  }
}

@media screen and (max-width: 930px) {
  .banners__banner {
    width: 200px;
    padding: 12px 15px;
  }
}

@media screen and (max-width: 768px) {
  .banners {
    display: block;
    padding-bottom: 50px;
  }

  .banners__banner {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 295px;
    padding: 12px 15px;
  }
}

.about {
  display: block;
  width: 85%;
  margin: 0 auto;
}

.about__first,
.about__second,
.about__third {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
  width: 100%;
}

.about__text {
  width: 49%;
  font-size: 1em;
}

.about__image {
  width: 49%;
  height: auto;
}

.about__image:hover .image__img {
  border-radius: 0px;
  -webkit-transition: all 0.4s ease-in-out;
       -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}

.image__img {
  border-radius: 120px;
  -webkit-transition: all 0.4s ease-in-out;
       -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out; 
}

@media screen and (max-width: 900px) {
  .about__first,
  .about__second,
  .about__third {
    justify-content: center;
    padding-top: 100px;
  }

  .about__second { flex-wrap: wrap-reverse; }

  .about__text {
    width: 85%;
    padding-bottom: 40px;
    font-size: 1em;
  }
  
  .about__image {
    width: 85%;
    height: auto;
  }
}

@media screen and (max-width: 568px) {
  .about {
    width 100%;
  }
}
