.signup {
  display: block;
  width: 85%;
  margin: 0 auto;
}

.signup__title {
  font-size: 2em;
  color: #ff5a00;
  text-align: center;
}

.signup__form {
  margin: 0 auto;
  width: 340px;
  text-align: center;
}

.form__sex {
  color: #757575;
  padding: 10px 6px;
}

.form__button_disable {
  pointer-events: none;
  cursor: default;
  background-color: #1c6ba4;
  opacity: 0.7;
}

.form__input_warning {
  border: 0px solid #ccc;
  border-bottom: 2px solid #d6384a;
  border-radius: unset;
  background: transparent;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 20px;
  margin-top: 20px;
  min-height: 46px;
  padding: 10px;
  width: 100%;
}

.form__input_warning:focus {
  background: white;
  border-bottom: 2px solid #d6384a;
}

.form__input_success {
  border: 0px solid #ccc;
  border-bottom: 2px solid #2ebc4f;
  border-radius: unset;
  background: transparent;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 20px;
  margin-top: 20px;
  min-height: 46px;
  padding: 10px;
  width: 100%;
}

.form__input_success:focus {
  background: white;
  border-bottom: 2px solid #2ebc4f;
}

@media screen and (max-width: 568px) {
  .signup {
    width: 100%;
  }
}
